<h1 id="dnastack">DNAstack</h1>
<p>
  <b>Title: </b> Java Backend Developer Intern <br>
  <b>Date: </b> May 2018 - August 2018 <br> 
</p>
<h3><b>Summary</b></h3>
<p>
  Through the Google Summer of Code (<a href="https://summerofcode.withgoogle.com/">GSoC</a>) program, I was accepted to spend the summer 
  working on an open source project for the organization Global Alliance for Genomics and Health 
  (<a href="https://www.ga4gh.org/">GA4GH</a>). The project was titled 
  "<a href="https://summerofcode.withgoogle.com/projects/#6402356590149632">Global Filesystem and Search Engine for Genomics Data</a>",
  whose goal was to create a generic API on top of existing object storage systems so workflow systems can access data in a single, 
  standard way regardless of where it's stored.
  <br><br>
  GA4GH have developed the Data Object Service (DOS), which is an emerging API standard for specifying location of data across
  different cloud environments. I created is an implementation of a DOS Server, which hosts and allows the discovery of data
  objects. By completing this project I learned how to use the Springboot framework to build an API, how to connect a MYSQL
  database to an API, how to connect Keycloak authentication to an API, how to package it using Maven, and how to integrate 
  a backend such as the DOS Server to a UI.
</p>
<h3><b>What I Learned</b></h3>
<p>
  Words
</p>

<h1 id="unh">UNH</h1>
<p>
  Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.
  Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
  blah blah.
</p>