<div class="grid-container text-white">
    <button class="dropbtn">
        <a href="/home">Home</a>
    </button>
    <button class="dropbtn">
        <a href="/resume">Resumé</a>
    </button>
    <div class="dropdown">
      <button class="dropbtn">
          <a href="/work experience">Work Experience</a>
      </button>
      <div class="dropdown-content">
        <a pageScroll [pageScrollDuration]="0" [routerLink]="['/work experience']" href="#dnastack">DNAstack</a>
        <a pageScroll [pageScrollDuration]="0" [routerLink]="['/work experience']" href="#unh">UNH</a>
      </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
          <a href="/education">Education</a>
        </button>
      <div class="dropdown-content">
        <a pageScroll [pageScrollDuration]="0" [routerLink]="['/education']" href="#university">University</a>
        <a pageScroll [pageScrollDuration]="0" [routerLink]="['/education']" href="#highschool">Highschool</a>
      </div>
    </div>
    <button class="dropbtn">
        <a href="/accomplishments">Accomplishments</a>
    </button>
</div>

