<div class="grid-container text-white">
    <button class="dropbtn">
        <a href="/home">Home</a>
    </button>
    <button class="dropbtn">
        <a href="/resume">Resumé</a>
    </button>
    <div class="dropdown">
      <button class="dropbtn">Work Experience</button>
      <div class="dropdown-content">
        <a href="/work experience">DNAstack</a>
        <a href="/work experience">UNH</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Education</button>
      <div class="dropdown-content">
        <a href="/education">University</a>
        <a href="/education">Highschool</a>
      </div>
    </div>
    <button class="dropbtn">
        <a href="/accomplishments">Accomplishments</a>
    </button>
</div>

