<h1>University (2017 - present)</h1>

<h2>Won 1st Place in Utrahacks Hardware Hackaton</h2>
<p>
  
</p>

<h2>Ranked #1 in Engineering Science at UofT</h2>
<p>
  
</p>


<h1>Highschool (2014 - 2017)</h1>

<h2>Valedictorian of Highschool</h2>
<p>
  
</p>

<h2>Successfully Built a Tesla Coil</h2>
<p>

</p>

<h2>Most points on Varsity Hockey Team (held for 2 years)</h2>
<p>

</p>

<h2>Lowest Average on Varisty Golf Team (held for 3 years)</h2>
<p>

</p>

<h2>Moody's Megamath Competition</h2>
<p>

</p>

<h2> Living Legacy Writing Competition</h2>