<div class="padding-24">
  <div class="padding-24">
    <img src="https://fontmeme.com/permalink/180818/a610840ae6cd3bafd8dd211a624f46ec.png" alt="norwester-font" border="0">
    <br>
    <div class="medium">
      <p>Student, Developer, ...other buzz words</p>
    </div>
  </div>
  
  <div class="small justify center">
    <p>
      <b>Location: </b>Toronto, ON <br>
      <b>Personal email: </b>epkeilty@hotmail.com <br>
      <b>Student email: </b>eric.keilty@mail.utoronto.ca <br>
      <b>Phone: </b>(603) 970-1800 <br>
      <b>Github: </b> <a href="http://www.github.com/ekeilty17">www.github.com/ekeilty17</a>
    </p>
  </div>
</div>