<h1 id="university">University</h1>
<p class="indent">
  <b>Name: </b> University of Toronto <br>
  <b>Major: </b> Engineering Science, Machine Intelligence <br>
  <b>Date: </b> 2017 - Present <br>
  <b>Class: </b> 2021 + PEY <br>
  <b>GPA: </b> 4.0
</p>

<h3><b>Why Did I Choose UofT?</b></h3>
<p>
  words
</p>

<h3><b>What Does My Major Mean?</b></h3>
<p>
  words
</p>
  
<h3><b>Why Did I Choose Engineering Science?</b></h3>
<p>
  words
</p>

<h3><b>Why Did I Choose Machine Learning?</b></h3>
<p>
  words
</p>
  
<h3><b>What is PEY?</b></h3>
<p>
  words
</p>
  
<h3><b>Co-Curricular Activities</b></h3>

<div class="indent">

  <h4><b>F!rosh Leader</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Putnam</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Executive of Magic Club</b></h4>
  <p>
    words
  </p>
    
  </div>

<br>
<h1 id="highschool">Highschool</h1>
<p class="indent">
  <b>Name: </b> St. Thomas Aquinas Highschool <br>
  <b>Date: </b> 2013 - 2017 <br>
  <b>GPA: </b> 4.46
</p>

<h3><b>About St. Thomas Aquinas</b></h3>
<p>
  words
</p>
  
<h3><b>GPA Weighting</b></h3>
<p>
  words
</p>
  
<h3><b>Extracurricular Activities</b></h3>
  
<div class="indent">

  <h4><b>Volunteer</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Sports</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Clubs</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Peer Tutoring</b></h4>
  <p>
    words
  </p>
    
  <h4><b>Building a Tesla Coil</b></h4>
  <p>
    words
  </p>
    
</div>
