<body class="light-grey text-black boarder">
  <div class="grid-container margin-top">
    
    <div class="picture">
      <img src="assets/HeadShot.jpg" width="220" height="300">
    </div>
    <div class="header">
      <app-header-home></app-header-home>
    </div>

    <div class="drop-down">
      <app-drop-down></app-drop-down>
    </div> 

    <div class="main justify">
      <app-main-home></app-main-home>
    </div>

    <div class="footer">
      <app-footer [quote]="footerQuote" [author]="footerAuthor"></app-footer>
    </div>

  </div>
</body>