<body class="text-black boarder">

  <div class="centerThis">
    <h2>ERIC P. KEILTY</h2>
    <p>
      <a href="https://www.google.com/maps/place/217+St+George+St,+Toronto,+ON+M5R+3S7/@43.6718684,-79.4035614,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34a2f3203c07:0x6b853bacfda68b09!8m2!3d43.6718684!4d-79.4013727">
        217 St George Street, Toronto, ON, M5R 3S7 </a> <br>
      <a href="mailto:epkeilty@hotmail.com">epkeilty@hotmail.com</a> <br> (603) 970-1800 <br>
      <a href="https://github.com/ekeilty17">https://github.com/ekeilty17</a>
    </p>
  </div>

  <div class="grid-container">

    <!-- Education -->
    <div class="education-header">
      <h4> <a href="education">EDUCATION</a> </h4>
    </div>

    <div class="education-main">
      <div class="subgrid-container">

        <div class="box1-date">
          <div class="sidetext">Class of 2T1</div>
          <div class="sidetext">2017 - present</div>
        </div>
        <div class="box1-main">
          <a href="www.utoronto.ca"><b>University of Toronto</b></a>, Toronto, ON <br>
          <div class="subtext"> <a href="http://engsci.utoronto.ca/explore_our_program/about_engsci/">Engineering Science</a>,
            <a href="http://engsci.utoronto.ca/explore_our_program/majors/machine-intelligence/">Machine Intelligence</a></div>
          <a href="../../../assets/Academic History.pdf">GPA: 4.0</a> (ranked 1 of 217 as of 2018 Winter Semester)
        </div>

        <div class="box2-date">
          <div class="sidetext">2013 - 2017</div>
        </div>
        <div class="box2-main">
          <a href="www.stalux.org"><b>St. Thomas Aquinas High School</b></a>, Dover, NH <br> 
          <a href="../../../assets/Transcript, End of 2016-17.pdf">GPA: 4.46</a> (<a href="http://www.fosters.com/news/20170517/st-thomas-aquinas-announces-top-10">Valedictorian</a>)
        </div>

      </div>
    </div>

    <!-- Work Experience -->
    <div class="work-experience-header">
      <h4> <a href="work experience">EXPERIENCE</a> </h4>
    </div>

    <div class="work-experience-main">
      <div class="subgrid-container">

        <div class="box1-date">
          <div class="sidetext">May 2018 – <br> Aug 2018</div>
        </div>
        <div class="box1-main">
          <a href="https://www.dnastack.com/#"><b>DNAstack</b></a>, Toronto, ON <br>
          <div class="subtext">Java Backend Developer Intern</div>
          <ul>
            <li>
              Recieved the internship through the <a href="https://summerofcode.withgoogle.com/"> Google Summer of Code (GSoC)</a>
              program. As per my accepted purposal of the internship, I implemented the <a href="https://github.com/ga4gh/data-object-service-schemas">Data
              Object Service (DOS)</a> API created by <a href="https://www.ga4gh.org/">Global Alliance for Genomics and Health (GA4GH)</a>.
            </li> <br>
            <li>
              The API was created using the <a href="https://spring.io/projects/spring-boot">Springboot</a> framework integrated with
              a MYSQL database in order to store the DOS Objects, packaged with Maven, and authenitcated with Keycloak.
            </li> <br>
            <li>
              Learned how to use and incorporate many other development tools such as Maven, Gradle, Elasticsearch & Kibana, Keycloak, Docker,
              Swaggerhub, and GraphQL.
            </li>
          </ul>
        </div>

        <div class="box2-date">
          <div class="sidetext">June 2016 – <br> Aug 2016</div>
        </div>
        <div class="box2-main">
          <a href="https://www.unh.edu/"><b>University of New Hampshire</b></a>, Durham, NH<br>
          <div class="subtext">Computer Programmer</div>
          <ul>
            <li>
              Created a prototype graphical mission planning system for robotic boats using a browser-based GIS called Cesium.js, which
              used JavaScript and HTML.
            </li> <br>
            <li>
              Developed workflows that allowed the operators to layout way points and assign new way points based on baring, latitude,
              and longitude. The coordinates of entities drawn were then exported in various formats and coordinate systems
              including Latitude/Longitude, UTM, UTM relative to the first point drawn, and HYPACK.
            </li>
          </ul>
        </div>

        <div class="box3-date">
          <div class="sidetext">June 2015 – <br> Aug 2015</div>
        </div>
        <div class="box3-main">
          <a href="https://www.unh.edu/"><b>University of New Hampshire</b></a>, Durham, NH<br>
          <div class="subtext">Computer Programmer</div>
          <ul>
            <li>
              Created libraries in C++ to model refraction in the sound speed profile, called a raytrace. Examined special cases and used
              statistical analysis to determine the most efficient and effective method to run the raytrace.
            </li> <br>
            <li>
              Incorporated CMake in order to allow universal access to the libraries.
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Skills -->
    <div class="skills-header">
      <h4>SKILLS</h4>
    </div>

    <div class="skills-main">
      <div class="subgrid-container">

        <div class="box1-date">
          <div class="sidetext">Programming Languages</div>
        </div>
        <div class="box1-main cols-3">
          <ul>
            <li><a href="https://github.com/ekeilty17/Python">Python</a></li>
            <li><a href="https://github.com/ekeilty17/C">C</a></li>
            <li><a href="https://github.com/ekeilty17/GA4GH-DOS-Server">Java</a></li>
            <li><a href="https://github.com/ekeilty17/Cesium_Mission">JavaScript</a> & <a href="https://github.com/ekeilty17/Personal-Website">TypeScript</a></li>
            <li><a href="https://github.com/ekeilty17/Personal-Website">HTML5 & CSS</a></li>
            <li><a href="https://www.mathworks.com/products/matlab.html">MATLAB</a></li>
          </ul>
        </div>

        <div class="box2-date">
          <div class="sidetext">Software Knowledge</div>
        </div>
        <div class="box2-main cols-3">
          <ul>
            <li><a href="https://spring.io/projects/spring-boot">Springboot</a></li>
            <li><a href="https://maven.apache.org/what-is-maven.html">Maven</a></li>
            <li><a href="https://gradle.org/">Gradle</a></li>
            <li><a href="https://www.mysql.com/">MYSQL</a></li>
            <li><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html">Elasticsearch</a> & <a href="https://www.elastic.co/guide/en/kibana/current/index.html">Kibana</a></li>
            <li><a href="https://www.keycloak.org/">Keycloak</a></li>
            <li><a href="https://www.docker.com/">Docker</a></li>
            <li><a href="https://swagger.io/tools/swaggerhub/">Swaggerhub</a></li>
            <li><a href="https://graphql.org/">GraphQL</a></li>
          </ul>
        </div>

      </div>
    </div>

    <!-- References -->
    <div class="references-header">
      <h4>REFERENCES</h4>
    </div>

    <div class="references-main">
      <div class="subgrid-container">

        <div class="box1-date">
          <div class="sidetext"><a href="https://dnastack.com/#/team/members">Marc Fuime</a></div>
        </div>
        <div class="box1-main">
          <b>CEO and Founder of DNAstack</b> <br> 
          MaRS Centre – West Tower <br> 
          661 University Ave., Suite 1300, Toronto, ON, M5G 1M1 <br>
          <a href="mailto:marc@dnastack.com">marc@dnastack.com</a>
        </div>

        <div class="box2-date">
          <div class="sidetext"><a href="https://ccom.unh.edu/user/vschmidt">Val Schmidt</a></div>
        </div>
        <div class="box2-main">
          <b>Research Project Engineer</b> <br> 
          University of New Hampshire - <a href="http://ccom.unh.edu/about-ccomjhc">Center for Coastal & Ocean Mapping/Joint Hydrographic
          Center</a> <br> 
          <a href="https://marine.unh.edu/facility/jere-chase-ocean-engineering-laboratory">Jere A. Chase Ocean Engineering Lab</a> <br> 
          <a href="https://www.google.ca/maps/place/24+Colovos+Rd,+Durham,+NH+03824,+USA/@43.1356403,-70.9414746,17z/data=!3m1!4b1!4m5!3m4!1s0x89e293bb06fc03ad:0xe4267004153b6e03!8m2!3d43.1356403!4d-70.9392859">
            24 Colovos Road, Durham, New Hampshire, 03824</a> <br>
          (603) 862-2646
          <br>
          <a href="mailto:vschmidt@ccom.unh.edu">vschmidt@ccom.unh.edu</a>
        </div>

      </div>
    </div>

  </div>
</body>