<body class="text-black boarder">
  
  <div class="centerThis">
    <h2>ERIC P. KEILTY</h2>
    <p>
      Toronto, ON <br> 
      epkeilty@hotmail.com <br>
      (603) 970-1800 <br>
      <a href="https://github.com/ekeilty17">https://github.com/ekeilty17</a>
    </p>
  </div>
  
  <div class="grid-container">
    
    <!-- Education -->
    <div class="education-header">
      <h4>EDUCATION</h4>
    </div>

    <div class="education-main">
      <div class="subgrid-container">
        
        <div class="box1-date">
          <div class="sidetext">Class of 2T1</div>
          <div class="sidetext">2017 - present</div>
        </div>
        <div class="box1-main">
          <a href="www.utoronto.ca"><b>University of Toronto</b></a>, Toronto, ON <br>
          <div class="subtext">Engineering Science, Machine Learning</div>
          GPA: 4.0 (ranked 1 of 217)
        </div>

        <div class="box2-date">
            <div class="sidetext">2013 - 2017</div>
        </div>
        <div class="box2-main">
            <a href="www.stalux.org"><b>St. Thomas Aquinas High School</b></a>, Dover, NH <br>
            GPA: 4.46 (Valedictorian)
        </div>

      </div>
    </div>

    <!-- Work Experience -->
    <div class="work-experience-header">
      <h4>EXPERIENCE</h4>
    </div>

    <div class="work-experience-main">
      <div class="subgrid-container">

          <div class="box1-date">
              <div class="sidetext">May 2018 – Aug 2018</div>
          </div>
          <div class="box1-main">
            <a href="www.dnastack.com/#"><b>DNAstack</b></a>, Toronto, ON <br> 
            <div class="subtext">Java Backend Developer Intern</div>
            <ul>
              <li>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit risus. Praesent ac elementum magna. Nunc ac auctor nisl, et finibus tortor.
              </li> <br>
              <li>
                  Proin at mattis sapien. Sed vestibulum blandit congue.
              </li> <br>
              <li>
                  Nam ut bibendum ligula. Aenean placerat erat ornare eros pellentesque mattis.
              </li>
            </ul>
          </div>
  
          <div class="box2-date">
              <div class="sidetext">June 2016 – Aug 2016</div>
          </div>
          <div class="box2-main">
            <a href="www.unh.com"><b>University of New Hampshire</b></a>, Durham, NH<br> 
            <div class="subtext">Computer Programmer</div>
            <ul>
              <li>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit risus. Praesent ac elementum magna. Nunc ac auctor nisl, et finibus tortor.
              </li> <br>
              <li>
                  Proin at mattis sapien. Sed vestibulum blandit congue.
              </li> <br>
              <li>
                  Nam ut bibendum ligula. Aenean placerat erat ornare eros pellentesque mattis.
              </li>
            </ul>
          </div>

          <div class="box3-date">
              <div class="sidetext">June 2015 – Aug 2015</div>
          </div>
          <div class="box3-main">
            <a href="www.unh.com"><b>University of New Hampshire</b></a>, Durham, NH<br> 
            <div class="subtext">Computer Programmer</div>
            <ul>
              <li>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit risus. Praesent ac elementum magna. Nunc ac auctor nisl, et finibus tortor.
              </li> <br>
              <li>
                  Proin at mattis sapien. Sed vestibulum blandit congue.
              </li> <br>
              <li>
                  Nam ut bibendum ligula. Aenean placerat erat ornare eros pellentesque mattis.
              </li>
            </ul>
          </div>

      </div>
    </div>
    
    <!-- Skills -->
    <div class="skills-header">
      <h4>SKILLS</h4>
    </div>

    <div class="skills-main">
      <div class="subgrid-container">

          <div class="box1-date">
              <div class="sidetext">Software Knowledge</div>
          </div>
          <div class="box1-main cols-3">
            <ul>
              <li>Springboot</li>
              <li>Maven</li>
              <li>Gradle</li>
              <li>MYSQL</li>
              <li>Elasticsearch & Kibana</li>
              <li>Keycloak</li>
              <li>Docker</li>
              <li>Swaggerhub</li>
              <li>GraphQL</li>
            </ul>
          </div>
        
        <div class="box2-date">
            <div class="sidetext">Programming Languages</div>
        </div>
        <div class="box2-main cols-3">
          <ul>
            <li>Python</li>
            <li>C</li>
            <li>JAVA</li>
            <li>MATLAB</li>
            <li> JavaScript</li>
            <li>HTML5 & CSS</li>
          </ul>
        </div>

      </div>
    </div>
    
    <!-- References -->
    <div class="references-header">
      <h4>REFERENCES</h4>
    </div>

    <div class="references-main">
      <div class="subgrid-container">

        <div class="box1-date">
            <div class="sidetext">Marc Fuime</div>
        </div>
        <div class="box1-main">
            CEO and Founder of DNAstack <br>
            MaRS Centre – West Tower <br>
            661 University Ave., Suite 1300 <br>
            Toronto, ON, M5G 1M1 <br>
            marc@dnastack.com
        </div>

        <div class="box2-date">
            <div class="sidetext">Val Schmidt</div>
        </div>
        <div class="box2-main">
          Research Project Engineer <br>
          University of New Hampshire - Center for Coastal & Ocean Mapping/Joint Hydrographic Center <br>
          Jere A. Chase Ocean Engineering Lab <br>
          24 Colovos Road, Durham, New Hampshire 03824 <br>
          (603) 862-2646 <br>
          vschmidt@ccom.unh.edu
        </div>
      
      </div>
    </div>
    
  </div>
</body>