<h2>ERIC P. KEILTY</h2>
<p>
  Toronto, ON <br> epkeilty@hotmail.com / (603) 970-1800
</p>

<h4>TECHNICAL</h4>
<h5></h5>
<p>
  <b>Programming Languages: </b>Python, C, JAVA, MATLAB, JavaScript, C, HTML5, CSS
</p>
<p>
  <b>Software: </b>Springboot, Maven, Gradle, MYSQL, Elasticsearch & Kibana, Keycloak, Docker, Swaggerhub, GraphQL
</p>

<h4>WORK EXPERIENCE</h4>
<p>
  DNAstack, Toronto, ON May 2018 – present <br>
  Developer <br>
  An intern through the Google Summer of Code (GSoC) program. Global Alliance
  for Genomics and Health (GA4GH) have developed the Data Object Service (DOS), which is an emerging API standard for specifying
  location of data across different cloud environments. I created is an implementation of a DOS Server, which hosts and allows
  the discovery of data objects. By completing this project I learned how to use the Springboot framework to build an API,
  how to connect a MYSQL database to an API, how to connect Keycloak authentication to an API, how to package it using Maven,
  and how to integrate a backend such as the DOS Server to a UI.
</p>